.sidebar {
  background-color: var(--clr-primary);
  width: 260px;
  padding: 36px 20px;
  transition: var(--transition-default);
}
.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  margin-top: 15px;
}
.info-name {
  font-weight: 500;
  font-size: 20px;
  color: var( --clr-white);
  text-transform: uppercase;
}
.info-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.95) 0 5px 5px;
  border: 2px solid #EEE;
}
.navigation {
  margin-top: 30px;
  height: 600px;
  overflow-y: scroll;
  
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-pumpkin);
  border-radius: 18px;
}
::-webkit-scrollbar-track {
  box-shadow: inset  0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 18px;
}
.sidebar-change {
  margin-left: -260px;
}
.nav-item {
  margin: 0 4px 10px 0;
}
.nav-link {
  display: flex;
  height: 44px;
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  transition: var(--transition-default);
  column-gap: 12px;
  border: 1px solid transparent;
  padding: 10px;
}
.nav-link:hover {
  border-color: var(--clr-primary-light)
}
.nav-link.active {
  background-color: var(--clr-pumpkin);

}
.nav-link-img {
  width: 22px;
}
.nav-link-text {
  text-transform: capitalize;
}
@media (max-width: 1400px) {
  .sidebar {
    padding: 24px 16px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    width: 72px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .sidebar-change {
    margin-left: -72px;
  }
  .info-name {
    display: none;
  }
  .nav-item {
    /* display: flex; */
    /* justify-content: center; */
    margin-bottom: 18px;
  }
  .nav-link {
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
  }
  .nav-link.active,
  .nav-link:hover {
    border-radius: 50%;
  }
  .nav-link-text {
    display: none;
  }
}
@media (max-width: 420px) {
  .sidebar {
    margin-left: -72px;
  }
  .sidebar-change {
    margin-left: 0;
  }
}
