.grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px
}
.grid-item:last-child {
  margin-bottom: 0;
}
.grid-item .grid-item-l {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.grid-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #8a8587;
}
.grid-item .grid-item-l p {
  color: var(--clr-silver);
  font-weight: 600;
}
.grid-item .grid-item-l span {
  display: block;
  margin-top: 8px;
  font-size: 15px;
  color: #8a8587
}
.grid-item-r span {
  font-weight: 500;
}